<hr>
<div class="title d-flex align-items-baseline">
    {% block qid %}
        {% if data.qid %}
            <span class="qid mr-2">{{ data.qid }}:</span>
        {% endif %}

    {% endblock %}
    {% block title %}

    {% endblock %}
</div>
{% if data.image %}
    {% block image %}
        <style>
            .myimg {
                max-width: 100%;
                max-height: 100%;
                display: block;
            }

            .imgcard {
                width: 250px;

            }
        </style>
        <div class="card">
            <div class="card-body imgcard">

                <img
                        class="myimg"
                        src="{{ data.image.src }}"
                        height="{{ data.image.height }}"
                        width="{{ data.image.width }}"
                        alt="Image here">
            </div>
        </div>


    {% endblock %}
{% endif %}
{% block content %}

{% endblock %}

