{% extends "base.jinja" %}
{% block title %}
{{data.title|markdown}}
{% endblock %}
{% block content %}

<crowd-input name="{{data.name}}" label="{{data.label}}" pattern="{{ data.pattern }}" required
             error-message="{{ data.error_message }}" type="{{ type|default('text') }}"
></crowd-input>

{% endblock %}
