<style>
    .other {
        display: none;
    }
</style>
<div id="{{data.other.name}}_wrapper" class="other">
    <p>{{ data.other.label }}</p>
    <crowd-input name="{{ data.other.name }}" label="{{ data.other.label}}"></crowd-input>
</div>
