{% extends "base.jinja" %}
{% block title %}
    {{ data.title|markdown }}
{% endblock %}
{% block content %}

<crowd-radio-group>
    <style>.radiowrapper{
        padding:0px;
        margin:0px;
    }</style>
    {% for choice in data.choices %}
        <div class="radiowrapper">
            <input type="radio" id="male"
                   id="{{ choice.value }}"
                   name="{{ data.name }}"
                   value="{{ choice.value }}"
                    {% if data.other %}
                   onclick="{{ data.name }}_select(this)"
                    {% endif %}
                    {% if data.required %}
                   required
                    {% endif %}
            >
            <label for="{{ choice.value }}">
                {{ choice.label }}
            </label>
        </div>

    {% endfor %}
</crowd-radio-group>
{% if data.other %}
    {% include 'other.jinja' %}
    <script>
        function {{ data.name }}_select(el) {
            const otherWrapper = $("#{{data.other.name}}_wrapper");
            if (el.value === "{{ data.other.pointer }}") {
                otherWrapper.show();
                $('crowd-input[name="{{data.other.name}}"]').prop("required", true);
            } else {
                otherWrapper.hide();
                $('crowd-input[name="{{data.other.name}}"]').prop("required", false);
            }
        }

    </script>
{% endif %}
{% endblock %}