{% extends "base.jinja" %}
{% block title %}
    {{ data.title|markdown }}
{% endblock %}
{% block content %}


    <div class="">

        <div class="my-2">
            <input type="text" class="js-range-slider" value="" id="{{ data.name }}"
                   name="{{ data.name }}"
                   data-min="{{ data.min }}"
                   data-max="{{ data.max }}"
                   data-step="{{ data.step|default('null') }}"

            />
        </div>
        <script>
            $(function () {
                const slider=$("#{{ data.name }}")
                const sliderMin=slider.data('min')
                const sliderMax=slider.data('max')
                slider.ionRangeSlider({
                    min: sliderMin,
                    max: sliderMax,
                    step: $(this).data('step'),
                    skin: "big",
                    from: (sliderMin+sliderMax)/2
                });

            })


        </script>


    </div>
{% endblock %}