<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
    <HTMLContent><![CDATA[
        <!DOCTYPE html>
        <body>
        <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
        <crowd-form>

            <crowd-form>
                {% autoescape off %}
                {% for f in form_elements %}
                {{f|safe}}
                {% endfor %}

                {% endautoescape %}
            </crowd-form>
        </body>
        </html>
        ]]>
    </HTMLContent>
    <FrameHeight>0</FrameHeight>
</HTMLQuestion>